{% macro modal_set(label, title, text, button_title) %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{label}}">
  {{button_title}}
</button>

<!-- Modal -->
<div class="modal fade" id="{{label}}" tabindex="-1" role="dialog" aria-labelledby="{{label}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="{{label}}Label">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

